<section id="ontap", class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">On Tap</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div><!-- col-lg-12-->
    </div><!-- row -->
    <% tap.each do |m| %>

    <div class="col-md-3 col-sm-4 ontap-item">
      <%= link_to "#ontapModal#{m.id}", class: 'ontap-link', data: { toggle: 'modal' } do %>

        <div class="ontap-hover">
          <div class="ontap-hover-content">
            <%= icon('plus', class: 'fa-3x') %>
          </div><!-- ontap-hover-content -->
        </div><!-- ontap-hover -->
        <div class="ontap-img text-center">
          <%= image_tag m.img_url, class: 'img-responsive item', alt: m.name %>
        </div>
      <% end %><!-- end link_to -->

      <div class="ontap-caption">
        <h4><%= m.name %></h4>
        <p class="text-muted"><%= m.description %></p>
      </div><!-- ontap-caption -->

    </div><!-- col-md-4 col-sm-6 ontap-item -->

    <% end %>
  </div><!-- container -->
</section>
