<!DOCTYPE html>
<html>
<head>
  <title>the Grain Station</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

  <%= render 'layouts/nav' %>
  <%= render 'pages/index' %>
  <%= render 'pages/menu' %>
  <%= render 'pages/ontap' %>
  <%= render 'pages/haps' %>
  <%= render 'pages/scene' %>
  <%= render 'pages/contact' %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/menu_modals' %>

</body>
</html>
